<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    
    <style>
        .container {
    padding-top: 100px;
    padding-bottom: 100px;
}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Lotus</a>
          <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Danh mục</a>
                    <ul class="dropdown-menu">
                    {% for clothe_type in clothe_types %}
                      <li><a class="dropdown-item" href="#">{{clothe_type}}</a></li>
                    {% endfor %}
                    {% for laundry_service in laundry_services %}
                      <li><a class="dropdown-item" href="#">{{laundry_service}}</a></li>
                    {% endfor %}
                      <!-- <li><a class="dropdown-item" href="#">Combo</a></li> -->
                    </ul>
                  </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Đăng nhập</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'service:food_drink_summary' %}" style="color: orangered;"><strong>Thanh toán</strong></a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Switch account</a>
              </li> -->
              
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn" type="submit" style="border-color: orange;"><span style="color: orange;">Search</span></button>
            </form>
          </div>
        </div>
      </nav>

    <div class="container">
        <!-- <h1>Phạm Văn Thái</h1>
        <h1>Phạm Văn Thái</h1>
        <h1>Phạm Văn Thái</h1>
        <h1>Phạm Văn Thái</h1>
        <h1>Phạm Văn Thái</h1> -->
    

      <div class="row g-4">
        {% for laundry_item in laundry_items %}
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="room-item shadow rounded overflow-hidden">
                <div class="position-relative">
                    <img class="img-fluid" src="{{ laundry_item.image.url }}" alt="">
                    <small class="position-absolute start-0 top-100 translate-middle-y  text-white rounded py-1 px-3 ms-4" style="background-color: orange;">$<span id="laundry_item_price_{{laundry_item.id}}">{{laundry_item.cost}}</span></small>
                </div>
                <div class="p-4 mt-2">
                    <div class="d-flex justify-content-between mb-3">
                        <a href="#" style="color: black;"><h5 class="mb-0">{{laundry_item.name}}
                        </h5></a>
                        <div class="ps-2">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                    </div>
                    <!-- <div class="d-flex mb-3">
                        <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>{{room.bed_qty}} Bed</small>
                        <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>{{room.bath_qty}} Bath</small>
                        <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                    </div> -->
                    <p class="text-body mb-3">{{laundry_item.description|slice:":100" }}...</p>
                    <div class="d-flex justify-content-end row">

                        <form action="/action_page.php" class="col-7">
                            <label for="laundry_qty_{{laundry_item.id}}">Số lượng (cái/kg):</label>
                            <select name="laundry_qty" id="laundry_qty_{{laundry_item.id}}">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </form>
                        
                        <a class="btn btn-sm btn-dark rounded py-2 px-4 col laundy-add-button" href="" value="{{laundry_item.id}}">Thêm</a>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script>
        $(document).on('click', '.laundy-add-button', function (e) {
        e.preventDefault();
        var laundryItemID = $(this).attr('value');  // Lấy giá trị của thuộc tính 'value'
        var laundryString = "#laundry_item_price_"+laundryItemID;
        var qtyString = '#laundry_qty_'+laundryItemID+ ' option:selected';
        // var price = document.getElementById(laundryString.toString()).innerHTML;
        console.log(laundryString);
        console.log(qtyString);
        
        var price = $(laundryString).text();
        var itemqty = $(qtyString).text();

        console.log(itemqty);
        console.log(price);

        $.ajax({
            type: 'POST',
            url: '{% url "basket:laundry_basket_add" %}',
            data: {
                laundryItemID: laundryItemID,
                itemqty: itemqty,
                price: price,
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function (json) {
            //    document.getElementById("basket-qty").innerHTML = json.qty;
            console.log("Phạm Văn Thái")
            },
            error: function (xhr, errmsg, err) {}
        });
    })
    </script>

  </body>
</html>